# Ignore all other folders in root
*/
# exclude my_files
!my_files/
!my_files/**
# exclude .idea
!.idea
!.idea/**

# 可以使用 git check-ignore --no-index -v [path] 来调试

!opensource/
opensource/*
!opensource/Repositories.ini
!opensource/Repositories.yaml

!study_reps/
study_reps/*
!study_reps/Repositories.ini
!study_reps/Repositories.yaml

